@using Validating.Models
@model User
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/style.css"/>
    <script src="main.js"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Enter your information</h1>
    <h4>Register</h4>
    <form asp-action="register" asp-controller="Home" method="post">
        <span asp-validation-for="First_Name"></span>
        <label asp-for="First_Name"></label>
        <input asp-for="First_Name">
        <br>

        <span asp-validation-for="Last_Name"></span>
        <label asp-for="Last_Name"></label>
        <input asp-for="Last_Name">
        <br>

        <span asp-validation-for="Age"></span>
        <label asp-for="Age"></label>
        <input asp-for="Age">
        <br>

        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <br>

        <span asp-validation-for="Password"></span>
        <label asp-forcopy="Password"></label>
        Your Password: <input asp-for="Password">
        <br>

        <input value="Register" type="submit">
    </form>
    <br>
    <br>
    <!-- <h4>Login</h4>
    <form action="/login" method="POST">
        <p>Email: <input type="email" name="email"></p>
        <p>Password: <input type="password" name="password"></p>
        <button>Login</button>
    </form> -->
</body>

</html>